
<!-- particles.js lib - https://github.com/VincentGarreau/particles.js -->
  <script src="https://kit.fontawesome.com/c2ae57692d.js" crossorigin="anonymous"></script>
  <script src="/javascripts/index.js"></script>
</body>
</html>