<%- include('includes/head.ejs') %> 
</head>
<body>
    <%- include('includes/navigation.ejs') %> 
    <section class="pageHeader">
        <h1>Our Research</h1>
    </section>

    <section class="research" id="research">
        <div class="row">
          <div class="research_image">
            <i class="fab fa-bitcoin"></i>
          </div>
          <div class="research_description">
              <h3>Cryptocurrency</h3>
              <p>We are developing decentralized cryptocurrency using blockchain technology and soon will be distributed to the global network. It will be integrated with our e-commerce product also.</p>
          </div>
        </div>
  
        <div class="row machine_learning">
          <div class="research_image">
            <i class="fas fa-robot"></i>
          </div>
          <div class="research_description">
            <h3>Machine Learning</h3>
            <p>The fututre of technology is full of software and hardwares backed my Artifical Intelligence and Machine Learing. We are developing Object detection using Tensoflow (Machine Learning Library).</p>
          </div>
        </div>
  
        <div class="row">
          <div class="research_image">
            <i class="fas fa-cart-plus"></i>
          </div>
          <div class="research_description">
              <h3>E-commerce</h3>
              <p>Since the COVID-19 pandemic we realized that how importantly the Digital Commerce plays role in supplying prodcuts to the costumers. With that in mind we are developing a ecommerce project.</p>
            </div>
        </div>
      </section>
    <%- include('includes/footer.ejs') %>
    <%- include('includes/end.ejs') %>