<%- include('includes/head.ejs') %> 
</head>
<body>
    <%- include('includes/navigation.ejs') %> 
        <section class="pageHeader">
            <h1>Our Services</h1>
        </section>
        
        <section class="research" id="services">
            <div class="row">
              <div class="research_image">
                <i class="fas fa-globe-americas"></i>
              </div>
              <div class="research_description">
                  <h3>Web Design & Development</h3>
                  <p>Bigdata Solutions provides one of the best services to design blazing fast websites for your buisness,protfolio and orgarnization.</p>
              </div>
            </div>
      
            <div class="row machine_learning">
              <div class="research_image">
                <i class="fas fa-mobile"></i>
              </div>
              <div class="research_description">
                <h3>Mobile App</h3>
                <p>Reach your buisness to 5 billion smartphones through mobile app.</p>
              </div>
            </div>
      
            <div class="row">
              <div class="research_image">
                <i class="fas fa-sort-numeric-up"></i>
              </div>
              <div class="research_description">
                  <h3>SEO</h3>
                  <p>Bring your website to the top of the famous search-engine like Google and Bing.</p>
                </div>
            </div>
    
            <div class="row machine_learning">
              <div class="research_image">
                <i class="fas fa-bullhorn"></i>
              </div>
              <div class="research_description">
                <h3>Digital Marketing</h3>
                <p>Let your products to be advertised to targeted users in Facebook</p>
              </div>
            </div>
          </section>
      
    <%- include('includes/footer.ejs') %>
    <%- include('includes/end.ejs') %>