<%- include('includes/head.ejs') %> 
</head>
<body>
    <%- include('includes/navigation.ejs') %> 
    <section class="pageHeader">
        <h1>Working Methodology</h1>
    </section>
    <section class="working_process" id="working_process">
        <img src="/images/agile.png" alt="agile">
      </section>
    <%- include('includes/footer.ejs') %>
    <%- include('includes/end.ejs') %>