* {
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

h1,h2,h3{
  margin: 0px;
}

a{
  text-decoration: none;
  color: black;
}

/* styles for buttons*/
.bgs-pr-button{
  background-color: honeydew;
  text-align: center;
  padding: 5px;
  max-width: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

button{
  padding: 10px;
  background-color: #1891b6;
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
}


/* Header/logo Title */
.header {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: black;
  color: white;
  justify-content: space-between;
  padding:20px 20px 0px 20px;
  flex-wrap: wrap;
}

.header h1{
  cursor: pointer;
}

.brand {
  animation: brand_animation 1s;
}

.brand a {
  color:white;
}

@keyframes brand_animation{
  0% {transform: translateY(-65px);}
  50% {transform: translateY(-30px) rotateZ(180deg)}
  100% {transform: translateY(0px) rotateZ(360deg);}
}

/* Style the hamburger icon */
.hamburger{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40px;
  width: 40px;
}

.hamburger div{
  height: 5px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.hamburger #ham_top,#ham_bottom {
  transform-origin: 0% 0%;
  transition: transform 0.1s linear;
  /* animation: hamtop_animation 2s; */
}

/* @keyframes hamtop_animation{
  100% {transform: rotateZ(30deg);}
} */
/* Style the top navigation bar */
.navbar {
  width: 100%;
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
  display: none;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
  border-radius: 80px;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.banner{
  position: absolute;
  margin-top: 40px;
}

.banner > h1,p,button {
  text-align: center;
  color: white;
}

.banner > h1 {
  font-size: 6vw;
}

.banner > p {
  font-size: 5vw;
  padding:20px;
  margin: 0px;
  line-height: 22px;
}

.down_arrow{
  display: none;
}

.research,.working_process {
  background-color: #000000;
  text-align: center;
  color: white;
}
.row {
  display: flex;
  flex-direction: column;
}

.research .research_image {
  /* background-image: url('/images/1.jpg'); */
  background-color:rgb(49, 48, 48);
  background-size: cover;
  height:400px;
  line-height: 400px;
  font-size: 15em;
  color: bisque;
}

.research_description > p{
  color: black;
}

.research_description{
  padding: 10px 10px 0px 10px;
  background-color: white;
  color: black;
}

.research h2 {
  padding: 10px;
  color: white;
}

.working_process > img{
  width: 100%;
}
.form-message {
  color: red;
}
.contact_form {
  background-color:rgb(49, 48, 48);
  color: white;
  text-align: left;
}

.contact_form_info{
  padding: 20px;
}

.contact_form_info h2{
  padding-bottom:6px;
}
.social_icons {
  padding-top:10px;
}
.form_feilds{
  padding: 20px;
}

.form_feilds label,input,textarea{
  display: block;
}

label{
  padding-top: 20px;
}

.form_feilds input{
  width: 100%;
  padding:20px;
  font-size: 1em;
}

textarea{
  font-size: 1em;
  padding: 20px;
  width: 100%;
}

address{
  padding-top: 20px;
  font-style: normal;
}

footer{
  background-color: #1891b6;
  text-align: center;
}

footer p{
  margin: 0px;
  padding:20px;
}

#particles-js{
  width: 100%;
  height: 300px;
  background-color: #1891b6;
  background-image: radial-gradient(circle,#143c73 20%,#000000,black);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.pageHeader{
  height: 200px;
  text-align: center;
  background-image: radial-gradient(#143c73,#000000, black);
  color: white;
  text-shadow: 7px 10px 9px black;
  line-height:200px;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .navbar, .header {
    flex-direction: row;
  }
  .hamburger {
    display: none;
  }

  .navbar{
    display: flex;
    width: auto;
  }

  .banner{
    margin-top: 250px;
  }

  .banner > h1 {
    font-size: 3vw;
  }
  
  .banner > p {
    font-size: 2vw;
    line-height: 40px;
    width: 70%;
    margin: auto;
  }

  .down_arrow{
    display: block;
    text-align: center;
    margin-top:300px;
    color: blanchedalmond;
    cursor: pointer;
  }

  .bgs-pr-button {
    padding: 15px;
    font-size: 1vw;
  }

  .row {
    flex-direction: row;
    justify-content: center;
  }
  .row > div {
    width:40%;
  }

  .research > h2 {
    font-size: 2vw;
  }

  .research .research_image {
    height: 572px;
    line-height: 572px;
    font-size: 20vw;
  }

  .research_description{
    padding: 200px 20px 0px 20px;
    background-color: white;
  }

  .research_description > h3{
    font-size: 2vw;
  }

  .research_description > p{
    color: black;
  }

  .machine_learning img:first-child {
    order:2;
  }

  .machine_learning div:first-child{
    order:1;
  }
  .working_process > h2 {
    font-size: 2vw;
    padding:20px 0px 10px 0px;
  }
  .contact_form {
    display: flex;
    justify-content: center;
  }

  .contact_form > div {
    width: 30%;
  }

  .contact_form_info{
    padding-top: 200px;
  }

  .contact_form_info > h2{
    font-size: 2.2vw;
  }

  canvas {
    display: block;
    vertical-align: bottom;
  }
  /* ---- particles.js container ---- */
  #particles-js {
    width: 100%;
    height: 900px;
    background-color: #1891b6;
    background-image: radial-gradient(#143c73,#000000, black);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
  }
  
}